[Unit]

# the reason for this service is to generate proper JSON logs in specified location then separate errors from actual validator output.

Description=Casperlabs Node
ConditionPathExists=/path/to/config.toml
After=network.target

[Service]
Type=simple

StandardOutput=file:/home/whatever/casper-node.log
StandardError=file:/home/whatever/casper-node.err

User=username
Group=usergroup

Restart=no
RestartSec=1

PrivateTmp=true

ExecStart=nohup env RUST_LOG=info,casper_node::reactor=trace /usr/bin/casper-node validator /etc/casper/config.toml

[Install]
WantedBy=multi-user.target
